<header class="navbar center">
  <div class="navbar-inner">
    <nav>
      <ul class="nav">
        <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/home_zpsb306c23b.png", :width => 50, :title =>"Home"), root_path, :id => "nav" %></li>
        <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/info_zps2ace81c1.png", :width => 50, :title =>"About Me"), about_path, :id => "nav" %></li>
        <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/academics_zps19f6efdb.png", :width => 50, :title =>"Academics"), projects_path, :id => "nav" %></li>
        <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/music_zps2f678778.png", :width => 50, :title => "Music"), music_path, :id => "nav" %></li>
        <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/camera_zpsef16b655.png", :width => 55, :title => "Photography"), photography_path, :id => "nav" %></li>
        <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/contact_zps137614b6.png", :width => 50, :title => "Contact"), contact_path, :id => "nav" %></li>
      </ul>
    </nav>
  </div>
</header>