<header class="navbar navbar-inverse center">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png", :width => 50), root_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/info_zps2ace81c1.png", :width => 50), about_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/projects_zps4ed32479.png", :width => 50), projects_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/music_zps2f678778.png", :width => 50), music_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/camera_zpsef16b655.png", :width => 55), photography_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/contact_zps137614b6.png", :width => 50), contact_path, :id => "nav" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>