<header class="navbar navbar-inverse center">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/house_zps4c984575.png", :width => 40), root_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/person_zpsd022c1eb.png", :width => 20), about_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/book_zps50247337.png", :width => 50), projects_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/music_zpsd031b531.png", :width => 60), music_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/camera_zpse55394f5.jpg", :width => 40), photography_path, :id => "nav" %></li>
          <li><%= link_to image_tag("http://i54.photobucket.com/albums/g98/andreaowu/email_zps2339a4bf.png", :width => 40), contact_path, :id => "nav" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>