<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <div class="image">
      <img src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/530952_3855236932938_241706092_n.jpg" />
	  <div class="box">
	  	<h1><p><br>
  			<b>Welcome!</b>
  		</p>
  		</h1>
	</div>
    <div class="container">
      <%= yield %>
      <br>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>